<!doctype html>
<html lang="fr">
<head>
    <% include ./partials/head %>
    <meta name="description" content="Home | Ollink est gestionnaire de liens permettant de les classer par catégorie"/>
    <title>Home | Ollink - Gestionnaire de liens</title>
</head>
<body>
    <% include ./partials/header %>
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1 class="text-center">Ollink - Gestionnaire de liens</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Création</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <h3 class="text-primary">Ajouter une catégorie</h3>
                <form action="/category" method="POST">
                     <div class="form-group">
                        <label for="category">Catégorie</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="category" placeholder="Catégorie" name="category" data-validation="required"/>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-9">
                <h3 class="text-primary">Ajouter un lien</h3>
                <div class="desktop-visibility">
                    <form action="/link" method="POST">
                        <div class="form-group">
                            <label for="link">Lien</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="link" placeholder="Lien" name="link" data-validation="url"/>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-warning" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="text-dropdown-link-category">Catégorie</span>&nbsp;<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-link-category" data-id="-1"><a href="javascript:void(0)">Aucune</a></li>
                                        <% if (categories.length > 0) { %>
                                            <% categories.forEach(function(category) { %>
                                                <li class="dropdown-link-category" data-id="<%= category.id %>" data-name="<%= category.name %>"><a href="javascript:void(0)"><%= category.name %></a></li>
                                            <% }); %>
                                        <% } %>
                                    </ul>
                                    <input type="submit" class="btn btn-success" value="Ajouter un lien"/>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" class="input-hidden-link-category" name="link_category_id" value="">
                    </form>
                </div>
                <div class="mobile-visibility">
                    <form action="/link" method="POST">
                        <div class="form-group">
                            <label for="link">Lien</label>
                            <input type="text" class="form-control" id="link" placeholder="Lien" name="link" data-validation="url"/>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-warning" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="text-dropdown-link-category">Catégorie</span>&nbsp;<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-link-category" data-id="-1"><a href="javascript:void(0)">Aucune</a></li>
                                <% if (categories.length > 0) { %>
                                    <% categories.forEach(function(category) { %>
                                        <li class="dropdown-link-category" data-id="<%= category.id %>" data-name="<%= category.name %>"><a href="javascript:void(0)"><%= category.name %></a></li>
                                    <% }); %>
                                <% } %>
                            </ul>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Ajouter un lien"/>
                        </div>
                        <input type="hidden" class="input-hidden-link-category" name="link_category_id" value="">
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Mes catégories</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 well">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Catégorie</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (categories.length > 0) { %>
                                <% categories.forEach(function(category) { %>
                                    <tr>
                                        <td><a href="#<%= category.name %>"><%= category.name %></a></td>
                                        <td><button class="btn btn-danger pull-right delete-category" value="<%= category.id %>"><span class="glyphicon glyphicon-remove"></span></button></td>
                                    </tr>
                                <% }); %>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Mes liens</h2>
            </div>
        </div>
        
        <% if (unsorted_links.length > 0) { %>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-primary">Non classé(s)</h3>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>URL</th>
                                    <th>Catégorie</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% unsorted_links.forEach(function(unsorted_link) { %>
                                    <tr>
                                        <td><a href="<%= unsorted_link.url %>" target="_blank"><%= unsorted_link.url %></a></td>
                                        <td>
                                            <% if (categories.length > 0) { %>
                                                <form action="/changeCategory" method="POST" class="form-inline mobile-form-inline">
                                                    <div class="form-group">
                                                        <label class="sr-only" for="select-category">Catégorie</label>
                                                        <select name="category" class="form-control select-category" id="select-category">
                                                            <option value="-1" selected="true">Non classé</option>
                                                            <% categories.forEach(function(category) { %>
                                                                <option value="<%= category.id %>"><%= category.name %></option>
                                                            <% }); %>
                                                        </select>
                                                    </div>
                                                    <input type="hidden" name="link_id" value="<%= unsorted_link.id %>">
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-refresh"></span></button>
                                                    </div>
                                                </form>
                                            <% } %>
                                        </td>
                                        <td><button class="btn btn-danger pull-right delete-link" value="<%= unsorted_link.id %>"><span class="glyphicon glyphicon-remove"></span></button></td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <% } %>

        <% if (categories.length > 0) { %>
            <% categories.forEach(function(category) { %>
                <div class="row">
                    <div class="col-md-12">
                        <div id="<%= category.name %>">
                            <h3 class="text-primary"><%= category.name %></h3>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>URL</th>
                                            <th>Catégorie</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (links.length > 0) { %>
                                            <% links.forEach(function(link) { %>
                                                <% if (link.category_id == category.id) { %>
                                                    <tr>
                                                        <td><a href="<%= link.url %>" target="_blank"><%= link.url %></a></td>
                                                        <td>
                                                            <% if (categories.length > 0) { %>
                                                                <form action="/changeCategory" method="POST" class="form-inline mobile-form-inline">
                                                                    <div class="form-group">
                                                                        <label class="sr-only" for="select-category">Catégorie</label>
                                                                        <select name="category" class="form-control select-category" id="select-category">
                                                                            <option value="-1">Non classé</option>
                                                                            <% categories.forEach(function(inner_category) { %>
                                                                                <% if (category.id == inner_category.id)  { %>
                                                                                    <option value="<%= inner_category.id %>" selected="true"><%= inner_category.name %></option>
                                                                                <% } else { %>
                                                                                    <option value="<%= inner_category.id %>"><%= inner_category.name %></option>
                                                                                <% } %>
                                                                            <% }); %>
                                                                        </select>
                                                                    </div>
                                                                    <input type="hidden" name="link_id" value="<%= link.id %>">
                                                                    <div class="form-group">
                                                                        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-refresh"></span></button>
                                                                    </div>
                                                                </form>
                                                            <% } %>
                                                        </td>
                                                        <td><button class="btn btn-danger pull-right delete-link" value="<%= link.id %>"><span class="glyphicon glyphicon-remove"></span></button></td>
                                                    </tr>
                                                <% } %>
                                            <% }); %>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>    
            <% }); %>
        <% } %>

        <input type="hidden" id="variable-user-email" name="" value="<%= user_email %>">

    </div>
    <% include ./partials/footer %>
    <script type="text/javascript" src="/public/js/home.js"></script>
</body>
</html>